.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.ant-layout-content {
	display: flex;
	flex-direction: column;
}

.site-layout-main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.site-layout-header {
	background: #fff;
}

.site-layout-content-background {
	background: #fff;
	flex: 1
}